@font-face {
    font-family: verdanaTest;
    src: url(/fonts/verdana.ttf);
}

body{
    background-color: rgb(51, 51, 255);
    font: normal 15pt verdanaTest;
}

h1{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 10px;
    width: 500px;
    padding: 15pt;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.726);
    
}

footer {
    color: White;
    text-align: center;
    font-style: italic;
}